services:
  traefik:
    image: {{ traefik_image }}
    container_name: traefik
    restart: unless-stopped
    command:
      - --api.dashboard=true
      - --log.level=INFO

      - --providers.docker=true
      - --providers.docker.exposedbydefault=false

      - --entrypoints.web.address=:80
      - --entrypoints.websecure.address=:443

      - --entrypoints.web.http.redirections.entrypoint.to=websecure
      - --entrypoints.web.http.redirections.entrypoint.scheme=https

      - --certificatesresolvers.letsencrypt.acme.email={{ traefik_acme_email }}
      - --certificatesresolvers.letsencrypt.acme.storage=/acme.json
      - --certificatesresolvers.letsencrypt.acme.httpchallenge=true
      - --certificatesresolvers.letsencrypt.acme.httpchallenge.entrypoint=web

    ports:
      - "80:80"
      - "443:443"

    volumes:
      - {{ traefik_acme_file }}:/acme.json
      - /var/run/docker.sock:/var/run/docker.sock:ro

    networks:
      - {{ docker_network_name }}

networks:
  {{ docker_network_name }}:
    external: true
